.btn {
  padding: 16px 28px 15px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.8px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #782029;
  border: 1px solid #782029;
  .transition();
  
  &:hover,
  &:active {
    background-color: #902631;
    border-color: #902631;
    .transition();
  }
  
  &--white {
    color: @bordo;
    background-color: #fff;
    
    &:hover,
    &:active {
      color: #fff;
      background-color: @bordo;
      .transition();
    }
  }
}
