.btn {
  padding: 16px 28px 15px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.8px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #782029;
  border: 1px solid #782029;
  .transition();
  
  &:hover,
  &:active {
    background-color: #902631;
    border-color: #902631;
    .transition();
  }
  
  &--white {
    color: @bordo;
    background-color: #fff;
    
    &:hover,
    &:active {
      color: #fff;
      background-color: @bordo;
      .transition();
    }
  }
}

.subscribe {
  position: relative;
  width: 270px;
  height: 46px;
  padding-left: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #42454a;
  text-align: left;
  letter-spacing: .8px;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  .transition();
  
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    width: 21px;
    height: 16px;
    background-image: url(../img/icons/telegram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.35;
    .transition();
  }
  
  &:hover,
  &:active {
    background-color: @bordo;
    .transition();
    
    &::after {
      opacity: 1;
      .transition();
    }
  }
}
