.menu {
  border-bottom: 1px solid #f5f5f5;
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  
  &:first-child {
    .menu__wrap {
      left: 0;
      width: 1200px;
      transform: none;
    }
  }
  
  &:hover,
  &:active {
    .menu__link {
      color: @bordo;
      .transition();
    }
    
    .menu__wrap {
      display: block;
    }
  }
}

.menu__link {
  display: block;
  padding: 16px 46px;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .8px;
  .transition();
}

.menu__wrap {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.menu__sublist {
  .reset();
  list-style: none;
  max-width: 275px;
  min-width: 230px;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,.1);
  background-color: #fff;
}

.menu__subitem {
  border-top: 1px solid #f5f5f5;
  
  &:first-child {
    border-top: 0;
  }
}

.menu__sublink {
  display: block;
  padding: 15px 20px 16px;
  line-height: 1.3;
  .transition();
  
  &:hover,
  &:active {
    background: #fafafa;
    .transition();
  }
}

.menu__submenu {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 24px 40px;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,.1);
  background-color: #fff;
}

.menu__subpoint {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33%;
  padding-right: 16px;
  
  img {
    display: block;
    width: 60px;
    height: auto;
    margin-right: 24px;
  }
}

.menu__links {
  .reset();
  list-style: none;
  min-width: 160px;
  max-width: 270px;
  font-size: 14px;
  
  li:first-child {
    font-size: 16px;
    margin-bottom: 10px;
  }
  a {
    .transition();
  }
  a:hover,
  a:active {
    color: @bordo;
    .transition();
  }
}
